@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


$pokedex-color: rgb(194, 13, 42);
$poketext-color: rgb(90, 90, 90);


.card-holder{
  padding: 0;
  width: 100%;
  background-color: $pokedex-color;
}
.card{
  margin-top: 10px;
  border: none;
  border-radius: 5%;
  padding: 10px;
  min-width: 220px;
  align-items: center;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  background-color: rgb(225, 225, 235);

}
.card-title{
  color: rgb(70,70,70);
  text-transform: uppercase;
  font-weight: 600;
}

.card-text{
  color: $poketext-color;
  font-weight: 400;
  font-style: italic;
}
div.card-am{
  transform-style: preserve-3d;
  transition: all 1.0s ease;
}
div.card-am:hover{
  transform: rotateY(180deg);

}

