<nav class="navbar fixed-bottom navbar-light bg-transparent">
    <a class="ml-auto navbar-brand" href="#top">
        <img src="../assets/img/pokeball.png" width="50" height="50" alt="" loading="lazy">
    </a>
</nav>
